name: Build PocketBook App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Compile App using Community Docker
      # Используем проверенный образ pazos/pocketbook-docker-sdk
      # Он уже содержит arm-obreey-linux-gnueabi-gcc и make
      run: |
        docker run --rm -v ${{ github.workspace }}:/app -w /app pazos/pocketbook-docker-sdk:latest make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PocketBookCompanion
        path: pb_companion.app
        overwrite: true
