name: Build PocketBook App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Build with Docker
      # Используем популярный образ с SDK для PocketBook
      run: |
        docker run --rm -v ${{ github.workspace }}:/app -w /app prodoomman/pb-sdk-docker:latest make

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: PocketBookCompanion
        path: pb_companion.app