name: Build PocketBook App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Docker Image
      # Собираем образ локально, используя наш новый Dockerfile
      run: docker build -t my-pb-sdk .

    - name: Compile App
      # Запускаем компиляцию внутри созданного образа
      run: |
        docker run --rm -v ${{ github.workspace }}:/app my-pb-sdk make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PocketBookCompanion
        path: pb_companion.app
        overwrite: true
